# environment (where the frontend is located)
# local | test
ENV=local

# algod network
# private | sandbox_private | test
NETWORK=sandbox_private

# fix can't fetch private repos
# https://doc.rust-lang.org/cargo/appendix/git-authentication.html#git-authentication
CARGO_NET_GIT_FETCH_WITH_CLI=true

# AWS storage bucket connection data
AWS_BUCKET_NAME=""
AWS_BUCKET_REGION=""
AWS_ACCESS_KEY=""
AWS_SECRET_KEY=""
